@use '../mixins';

.about {
    display: grid;
    gap: 16px;

    &__title {
        @include mixins.font(32px, 700, 130%);
        background: linear-gradient(to bottom right, var(--purple) 0%, var(--light-blue) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__description {
        &_one {
            @include mixins.font(18px, 400, 130%);
            color: var(--green);
        }

        &_two {
            @include mixins.font(16px, 400, 130%);
            color: var(--light-blue);
        }
    }

    @media screen and (min-width: 480px) {
        &__title {
            font-size: 40px;
        }

        &__description {
            &_one {
                font-size: 22px;
            }

            &_two {
                font-size: 18px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        &__description {
            max-width: 65%;
        }
    }
}