@use '../mixins';

.titleBox {
    @include mixins.flex(flex-start, center);
    @include mixins.margin(0, 0, 32px, 0);
    gap: 16px;

    &__title {
        @include mixins.font(16px, 400, 100%);
        color: var(--white);
        white-space: nowrap;
    }

    @media screen and (min-width: 768px) {
        @include mixins.font(18px, 700, 100%);
    }
}