@use '../../styles/mixins';

.projectItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    &__preview {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }

    &__title {
        @include mixins.font(14px, 400, 100%);
        color: var(--white);
    }

    &__link {
        @include mixins.font(12px, 400, 100%);
        width: max-content;
        color: var(--gray);
        transition: all .2s ease-out;

        &:hover {
            color: var(--green);
            text-shadow: 0 0 10px var(--purple), 0 0 20px var(--purple), 0 0 20px var(--purple), 0 0 20px var(--purple);
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
    }

    @media screen and (min-width: 768px) {
        &__title {
            @include mixins.font(16px, 400, 100%);
        }

        &__link {
            @include mixins.font(14px, 400, 100%);
        }
    }
}