@use '../../styles/mixins';

.projectItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    &__preview {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }

    &__link {
        @include mixins.font(14px, 400, 100%);
        width: max-content;
        color: var(--gray);
        transition: var(--transition);

        &:hover {
            color: var(--white);
        }
    }

    @media screen and (min-width: 768px) {
        &__link {
            @include mixins.font(14px, 400, 100%);
        }
    }
}