:root {
    --main-bg-color: #191b26;
    --modal-bg-color: rgba(25, 27, 38, .8);
    --blur-bg: blur(8px);
    --purple: #a343ff;
    --green: #3edaa6;
    --white: #dcdcdc;
    --gray: #8b949e;
    --darck-gray: #373737;
    --light-blue: #55c5e1;
    --transparent: transparent;
    --pink: #da70d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}

html {
    background-color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    overflow-x: hidden;

    @media (prefers-color-scheme: dark) {
        color: #fff;
        background: var(--main-bg-color);
    }
}