@use "../../styles/mixins";

.skills {
  display: grid;
  gap: 32px;

  &__content {
    display: grid;
    gap: 32px;
  }

  &__box {
    display: grid;
    gap: 16px;
  }

  &__description {
    @include mixins.font(16px, 400, 130%);
    color: var(--gray);
  }
}
