@use '../../styles/mixins';

.skills {
    display: grid;
    gap: 16px;

    &__content {
        display: grid;
        gap: 32px;
    }

    &__box {
        display: grid;
        gap: 16px;

        &_text {
            gap: 16px;
        }
    }

    &__title {
        @include mixins.font(20px, 700, 130%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, var(--blue), var(--sky-blue));
    }

    &__description {
        @include mixins.font(16px, 400, 130%);
        color: var(--gray);
    }
}