@use "../../styles/mixins";

.about {
    display: grid;
    gap: 16px;

    &__title {
        @include mixins.font(32px, 700, 130%);
        max-width: max-content;
        color: var(--white);
    }

    &__subtitle {
        @include mixins.font(24px, 700, 130%);
        max-width: max-content;
        color: var(--white);
    }

    &__description {
        display: grid;
        gap: 8px;
    }

    &__text {
        @include mixins.font(16px, 400, 130%);
        color: var(--gray);
    }

    @media screen and (min-width: 480px) {
        &__title {
            font-size: 48px;
        }

        &__subtitle {
            font-size: 28px;
        }
    }

    @media screen and (min-width: 768px) {
        &__title {
            font-size: 58px;
        }
    }

    @media screen and (min-width: 1024px) {
        &__title {
            font-size: 68px;
        }
    }
}