@use "../../styles/mixins";

.footer {
  @include mixins.flex(space-between, center);
  flex: 0 0 auto;
  padding: 24px 0;
  border-top: 1px solid var(--gray);

  &__copyright {
    @include mixins.font(14px, 400, 100%);
    color: var(--gray);
  }

  &__link {
    display: flex;
  }

  &__icons {
    display: flex;
    gap: 8px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}
