@use '../../styles/mixins';

.experience {
    display: grid;
    gap: 32px;
}

.tabs {
    display: grid;

    &__head {
        display: flex;
        color: var(--gray);
        overflow: scroll;
    }

    &__body {
        color: var(--gray);
    }

    &__list {
        display: flex;
        padding-bottom: 16px;
    }

    &__title {
        cursor: pointer;
        padding: 8px 16px;
        background-color: var(--hsla-black);
        white-space: nowrap;

        &_active {
            color: var(--white);
        }
    }

    &__panel {
        display: grid;
        gap: 16px;
    }

    &__panelTitle {
        @include mixins.font(16px, 400, 150%);
        @include mixins.flex(flex-start, center);
        flex-wrap: wrap;
        gap: 8px;
        max-width: max-content;

        &_link {
            color: var(--gray);
            @include mixins.font(14px, 400, 100%);
            background-color: var(--hsla-black);
            padding: 4px 8px;
            border-radius: 20px;
            transition: var(--transition);

            &:hover, &:active {
                color: var(--white);
            }
        }
    }

    &__panelList {
        display: grid;
        gap: 8px;
        list-style-type: disc;
        list-style-position: inside;
    }

    &__panelListItem {
        @include mixins.font(16px, 400, 130%);
    }
}