@use '../../styles/mixins';

.nav {
    display: none;

    &__list {
        @include mixins.flex (flex-start, center);
        @include mixins.font(16px, 400, 100%);
        gap: 24px;
        color: var(--gray);
    }

    @media screen and (min-width: 768px) {
        @include mixins.flex (flex-start, center);
    }
}