.gradientLine {
    width: 100%;
    height: 1px;
    background: radial-gradient(circle, var(--red), var(--purple), var(--yellow));
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300%;

    @keyframes animatedgradient {
        0% {
            background-position: 0% 100%;
        }

        50% {
            background-position: 100% 0%;
        }

        100% {
            background-position: 0% 100%;
        }
    }
}